#about-section {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: #f8f3cd;
    padding: 2rem;
    border-radius: 7rem 0 7rem 0;
}

.about-text-container {
    flex: 1 1 60%;
    font-size: 1.1rem;
}

.about-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 8;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: poppins-regular;
}

.about-image {
    flex: 1 1 40%;
    width: 100%;
}

.about-image img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
    border-radius: 5rem 0 5rem 0;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 3rem;
    margin-bottom: 2.5rem;
}

.newsletter-title {
    font-size: 2rem;
    margin: 0;
}

.newsletter-description {
    opacity: 0.7;
}

.newsletter-form {
    width: 40%;
    transform: translateX(-10%);
}

.input-group {
    display: flex;
    margin-top: 1.5rem;
}

.newsletter_email {
    flex: 1 0 auto;
    margin: 0;
    border: 1px solid #eee;
    border-radius: .5rem 0 0 .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.newsletter_btn {
    flex: 1 1 auto;
    border: 1px solid #eee;
    font-family: poppins-medium;
    padding: 0 4rem;
    cursor: pointer;
    background-color: #cdb605;
    border-radius: 0 .5rem .5rem 0;
}

@media only screen and (max-width: 769px) {
    #about-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-image {
        flex: 1 1 100%;
    }

    .about-text {
        flex: 1 1 100%;
        text-align: justify;
    }

    .newsletter-description {
        text-align: center;
        width: 100%;
    }

    .newsletter-form {
        width: 100%;
        transform: translateX(0%)
    }

    .input-group {
        flex-direction: column;
        row-gap: 1.4rem;
    }

    .newsletter-title {
        text-align: center;
    }

    .newsletter_email {
        padding: 1rem;
        border-radius: 1rem;
    }

    .newsletter_btn {
        padding: .5rem;
        font-size: 1.4rem;
        border-radius: 1rem;
    }
}
