.edit-form-cover {
    display: flex;
    justify-content: center;
    column-gap: 1.2rem;
}

.article-img {
    flex: 1 1 40%;
}

.article-img img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

form {
    flex: 1 1 60%;
}

.d-none {
    display: none;
}
